body{
  font-family: 'Roboto', sans-serif;
}

header {
  background: #0F0E0E;
  color: white;
  height: 50px;
  padding: 0 25px;
}

header h1 {
  float: left;
  height: 35px;
  width: 200px;
  margin-top: 8px;
}

header nav {
  float: right;
}

nav li {
  background: #99CE49;
  color: white;
  cursor: pointer;
  height: 35px;
  width: 60px;
}

#lowerbar {
  background: #111FE1;
}

#lowerbar nav li {
  background: #111FE1;
  color: white;
  display: inline-flex;
  align-items: center;
}

#hero {
  background: url('../images/1.jpg') no-repeat;
  background-size: cover;
  text-align: left;
  padding: 300px 400px;
  margin-bottom: 1px;
}

#hero h2 {
  font-size: 20px;
  color: white;
  margin-left: 0px;
}

#museum-info{
  background: #0F0E0E;
  color: white;
  font-size: 15px;
}

.three-col {
  text-align: left;
  vertical-align: top;
}

.three-col img {
  height: 300px;
  width: 400px;
}

#more-sites {
  background: #EDEDED;
  background-size: cover;
  padding: 100px 100px;
  display: inline-flex;
  align-items: center;
}

footer {
  background: #0F0E0E;
  color: white;
  margin-top: 10px;
  padding: 20px 0;
  text-align: left;
}
